/* font weight : normal/bold/bolder/lighter */


/* #h1{
    font-weight: normal;
}

#h2{
    font-weight: bold;
}

#h3{
    font-weight:lighter ;
}

#h3{
    font-weight:bolder ;
} */


/* font-weight : 100-900 */

#h1{
    font-weight: 100;
}

#h2{
    font-weight: 250;
}

#h3{
    font-weight: 580;
}
#h4{
    font-weight: 900;
}