/* Left text-align */

/* p{
    text-align: left;
} */

/* Centre text-align */

/* p{
    text-align: center;
}
 */

 /* right text-align */

 p{
    text-align: right;
 }

 /*CSS 3 */

 h1{
    text-align: start; /*Start , end */
 }

h1{  
    text-align: left;/* left, right, centre */
}
